<?php
$config = array(
    'Ember Tour Editor' => array(
        'monitor'        => recursive_glob('js-apps/tourbuilder/src/**/*.coffee'),
        'perform'        => 'rake tourbuilder:dev',
        'triggerOnStart' => false,
    ),
    'Ember Compass' => array(
        'monitor'        => recursive_glob('js-apps/tourbuilder/src/**/*.scss'),
        'perform'        => "rake 'project:compass:compile[tourbuilder]'",
        'triggerOnStart' => false,
    ),
    'TourBuzz Skin Compass' => array(
        'monitor'        => recursive_glob(array('skins/tourbuzz/default/www/shared/**/*', 'skins/tourbuzz/default/sass/**/*')),
        'perform'        => "rake 'project:compass:compile[tourbuzz]'",
        'triggerOnStart' => false,
    ),
    'TourBuzz Mobile Player Compass' => array(
        'monitor'        => recursive_glob('modules/public/vtour/skins/mobile2/**/*'),
        'perform'        => "rake 'project:compass:compile[tourbuzz]'",
        'triggerOnStart' => false,
    ),
);


